<div class="get_code_body">
  <!-- <div class="clipboard">
    <input
      onclick="copy()"
      class="copy-input"
      value="hello124dfd5xx43f"
      id="copyClipboard"
      readonly
    />
    <button class="copy-btn" id="copyButton" onclick="copy()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <rect x="9" y="9" width="13" height="13" rx="2" ry="2" />
        <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1" />
      </svg>
    </button>

    <div class="text_code">
      <p>congratulation!! you can now use above coupon code to get discount</p>
    </div>
  </div> -->
  <div class="text_code">
    <p>congratulation!! you can now use above coupon code to get discount</p>
  </div>
  <div id="copied-success" class="copied">
    <span>Copied!</span>
  </div>
  <script>
    function copy() {
      var copyText = document.getElementById("copyClipboard");
      copyText.select();
      copyText.setSelectionRange(0, 99999);
      document.execCommand("copy");
      $("#copied-success").fadeIn(800);
      $("#copied-success").fadeOut(800);
    }
  </script>
</div>
